In [ ]:
## tuples in python
# tuples are immutable
# enclosed between ()

tpl=()
print(tpl,(type(tpl)))

() <class 'tuple'>

In [24]:
## accessing the elements and slicing

tpl=1,2,3,4,5,6
print(tpl[2])
print(tpl[0:3])

3
(1, 2, 3)

In [ ]:
## operations in tuples

#concatenation

tpl_1=1,2,3
tpl_2='a','b','c'

sum_tuple=tpl_1 + tpl_2
print(sum_tuple)

(1, 2, 3, 'a', 'b', 'c')

In [27]:
## operations in tuple

#repetition

tpl_1 = (1, 2, 3, 4, 5)
tpl_1 *2

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [30]:
## immutable nature
# elements cannot be changed once assigned

lst=[1,2,3,4,5]
lst[2]="no"
print(lst)
tpl1=(1,2,3,4,5)
tpl1[2]="no"
print(tpl1)

[1, 2, 'no', 4, 5]

TypeError: 'tuple' object does not support item assignment

In [33]:
## packing of tuple

tpl=1,2,3,
print(tpl)

(1, 2, 3)

In [34]:
## unpacking

a,b,c=tpl
print(a)
print(b)
print(c)

1
2
3

In [40]:
## alternative method
#for longer tuples

tpl=(1,2,3,4,5,6,7,8,9,10)

first,*middle,last=tpl
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5, 6, 7, 8, 9]
10

In [46]:
## nested tuples

tpl=((1,2,3),(a,b,c),('yes','no'))
print(tpl[0][2])

3

In [53]:
## iterationg in tuples

tpl=((1,2,3),("a","b","c"))
for i in tpl:
    for j in i:
        print(j,end=" ")
    print()

1 2 3
a b c