In [8]:
## sets in python
# unordered collection of unique elements enclosed in {}

st={1,2,3}
print(type(st))

<class 'set'>

In [ ]:
## empty set 
st=set()
print(type(st))

## type casting

my_set=set ([1,2,3,4,5])
print(type(my_set))

<class 'set'>
<class 'set'>

In [33]:
## removing duplicates
num=(1,2,3,3,4)
st=set(num)
print(st)

{1, 2, 3, 4}

In [36]:
## add elements
st={1,2,3,4}
st.add(5)
print(st)
## remove elements
st={1,2,3,4}
st.remove(3)
print(st)

{1, 2, 3, 4, 5}
{1, 2, 4}

In [ ]:
## remove vs discard
# remove shows error if the element is absent
# discard executes the even the element is absent

myset={1,2,3,4}
myset.discard(5)
print(myset)

myset={1,2,3,4}
myset.remove(5)
print(myset)

{1, 2, 3, 4}

KeyError: 5

In [54]:
##pop in sets
# removes and brings the first element

st={1,2,3}
pop_st=st.pop()
print(pop_st)
print(st)

1
{2, 3}

In [56]:
## set membership

st={1,2,3,4}
print(1 in st)
print(5 in st)

True
False

In [61]:
## operations in sets
# union 
# brings all unique elements from both sets together

st_1={1,2,3}
st_2={3,4,5}
print(st_1.union(st_2))

#intersection
# brings the common elements from both sets together
st_1={1,2,3}
st_2={3,4,5}
print(st_1.intersection(st_2))

# intersection_update
# updates the set by bringing common elements in first set

st_1={1,2,3,4,5}
st_2={4,5,6,7,8}

st_1.intersection_update(st_2)
print(st_1)

{1, 2, 3, 4, 5}
{3}
{4, 5}

In [ ]:
#subset 
st_1={1,2,3,4}
st_2={3,4,}
st_2.issubset(st_1)

True

In [ ]:
#superset
st_1={1,2,3,4}
st_2=[3,4]
st_1.issuperset(st_2)

True

In [ ]:
# diffference
# brings the elements from first set after difference

st_1={1,2,3,4,5}
st_2={3,4,5,6}
st_1.difference(st_2)

{1, 2}

In [67]:
# symmetric difference
# brings elements from both sets after difference
st_1={1,2,3,4,5}
st_2={3,4,5,6,7}
st_1.symmetric_difference(st_2)

{1, 2, 6, 7}

In [70]:
# counting unique words

st_1="you are gonna make it"
st_2=st_1.split()
st_3=set(st_2)
print(len(st_3),st_3)

5 {'it', 'gonna', 'are', 'you', 'make'}