## SQL and SQLite
# SQL (Structured Query Language) is a standard language for managing and manipulating relational databases.
# Requires server 
# SQLite is a self-contained and zero-configuration database engine that is widely used for embedded database systems.
# Doesn't require server

In [1]:
import sqlite3

In [2]:
## Creating a connection
connection=sqlite3.Connection('example.db')
connection

In [ ]:
## Cursor
## for CRUD functions- Create, Read, Update, Delete
cursor=connection.cursor()
cursor

In [9]:
## Creating a table
cursor.execute('''
Create Table If Not Exists employees(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department Text
    )
''')
## Commit - to store it
connection.commit()

In [10]:
cursor.execute('''
Select * from employees
''')

In [13]:
## Inserting data into table
cursor.execute('''
Insert Into employees(name,age,department)
               values('Raheel',21,'Microbiology')
''')
cursor.execute('''
Insert Into employees(name,age,department)
               values('Hamza',19,'Mathematics')
''')
cursor.execute('''
Insert Into employees(name,age,department)
               values('Anas',21,'Plant pathology')
''')
connection.commit()

In [15]:
## Reading data from table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

for i in rows:
    print(i)

(1, 'Raheel', 21, 'Microbiology')
(2, 'Hamza', 19, 'Mathematics')
(3, 'Anas', 21, 'Plant pathology')

In [16]:
## Update data in table
cursor.execute('''
Update employees
set age=22
where name='Hamza'
''')
connection.commit()

In [18]:
## Deleting data from table
cursor.execute('''
Delete from employees
where name='Hamza'
''')
connection.commit()

In [ ]:
## Reading the update record
cursor.execute('Select * from employees')
rows=cursor.fetchall()

for i in rows:
    print(i)

(1, 'Raheel', 21, 'Microbiology')
(3, 'Anas', 21, 'Plant pathology')

In [22]:
## Working with sales data

## Creating Connection
Connection=sqlite3.Connection('sales_data.db')
Cursor=Connection.cursor()
## Creating a table
cursor.execute('''
Create Table If Not Exists sales(
    id Integer primary Key,
    date Integer Not Null,
    product text Not Null,
    sales Integer ,
    region Text
)
''')
## Insert data into sales table
sales_data=[
    ('12-2-2021','product1',100,'south'),
    ('22-1-2024','product2',120,'west'),
    ('1-1-2025','product3',110,'north'),
    ('13-6-2025','product4',150,'east')
]
cursor.executemany('''
Insert Into sales(date,product,sales,region)
                values(?,?,?,?)
''',sales_data)
connection.commit()

In [23]:
## Query data from sales table
cursor.execute('Select * from sales')
rows=cursor.fetchall()
for i in rows:
    print(i)

(1, '12-2-2021', 'product1', 100, 'south')
(2, '22-1-2024', 'product2', 120, 'west')
(3, '1-1-2025', 'product3', 110, 'north')
(4, '13-6-2025', 'product4', 150, 'east')

In [24]:
## Closing the connection
connection.close()

In [ ]:
## Reading from closed connection raises error
cursor.execute('Select * from sales')
rows=cursor.fetchall()
for i in rows:
    print(i)

ProgrammingError: Cannot operate on a closed database.